@{
    Layout = null;
}
@{
    ViewData["Title"] = "Ensaio Teor De Cinzas";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/coleta.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Ensaio Teor De Cinzas</title>
    <style>
        input {
            text-align: center;
        }
    </style>
</head>
<body>
    <table class="tables table-bordered border-secondary  table-sm">
        <thead>
            <tr>
                <td><img src="https://www.labsystem-nuvem.com.br/imagens_arq/imagens/img/LabSystem.png" class="imagem" /></td>
                <td colspan="3" class="fundo-tabela">Coleta De Dados</td>
                <td class="fundo-tabela">N Os:</td>
            </tr>
            <tr>
                <td colspan="4">Determinação de teor de cinzas</td>
                <td rowspan="2"> @ViewBag.os</td>
            </tr>
       @*      <tr>
                <td>Inicio:</td>
                <td><input class="form-control" type="date" /></td>
                <td>Termino:</td>
                <td><input class="form-control" type="date" /></td>
            </tr> *@
        </thead>
    </table>
    <br />

    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan="4">Parâmetro(s) de ensaio</td>
        </tr>
        <tr class="fundo-tabela">
            <td>Condicionamento inicial do cadinho:</td>
            <td>≥ 10 min. a (550 ± 50) °C</td>
            <td>Condicionamento após a queima:</td>
            <td>≥ 1 h. a (550 ± 50) °C</td>
        </tr>
        <tr>
            <td>Encontrado:</td>
            <td><input class="form-control" /></td>
            <td>Encontrado:</td>
            <td><input class="form-control" /></td>
        </tr>
        <tr>
            <td>Limite de quantificação:</td>
            <td><input class="form-control" value="0,33%" readonly /></td>
        </tr>
    </table>
    <br />
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td colspan="4">Resultados obtidos</td>
        </tr>
        <tr class="fundo-tabela">
            <td>ABNT NBR 14961 Item:</td>
            <td>Variáveis</td>
            <td>Amostra</td>
            <td>Duplicata</td>
        </tr>
        <tr>
            <td rowspan="3">2.2</td>
            <td>Massa do cadinho vazio [ M1 ], em g : </td>
            <td><input class="form-control" /></td>
            <td><input class="form-control" /></td>
        </tr>
        <tr>
            <td>Massa da amostra com cadinho [ Me ], em g : </td>
            <td><input class="form-control" /></td>
            <td><input class="form-control" /></td>
        </tr>
        <tr>
            <td>Massa do cadinho com as cinzas [ M2 ], em g : </td>
            <td><input class="form-control" /></td>
            <td><input class="form-control" /></td>
        </tr>
        <tr>
            <td rowspan="2">2.3</td>
            <td>Teor de cinzas (%), em g : </td>
            <td><input class="form-control" readonly /></td>
            <td><input class="form-control" readonly /></td>
        </tr>
        <tr>
            <td>Resultado declarado (%c), em g : </td>
            <td colspan="2"><input class="form-control" readonly /></td>
        </tr>
    </table>
    <br />
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td>Observações</td>
        </tr>
        <tr>
            <td>
                <textarea class="form-control" rows="3" id="obs">Sem observações.</textarea>
            </td>
        </tr>
    </table>
    <br />
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td>Observações</td>
        </tr>
        <tr>
            <td>
                <textarea  class="form-control" rows="4" id="conformidade">O(s) resultado(s) obtido(s) atende(m) a(s) exigência(s) da ABNT NBR 13579-1 de 15 de Agosto de 2011 – Ensaio de determinação do teor de cinzas.</textarea>
            </td>
        </tr>
    </table>
    <br />
    <table class="tables table-bordered border-secondary  table-sm">
        <tr class="fundo-tabela">
            <td>Regras de decisão</td>
        </tr>
        <tr>
            <td>
                <textarea class="form-control" rows="4" id="regras">Na declaração de conformidade não foi considerada a incerteza de medição.</textarea>
            </td>
        </tr>
    </table>
    <div class="d-grid gap-2 d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn btn-primary btn-md">Salvar Dados</button>
    </div>
</body>
</html>
<script>
    // var obs = document.getElementById("obs");
    // var conformidade = document.getElementById("conformidade");
    // var regras = document.getElementById("regras");
    // obs.value = "Sem observações";
    // conformidade.value = "Sem observações";
    // regras.value = "Na declaração de conformidade não foi considerada a incerteza de medição.
</script>
<script>
    document.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {

            e.preventDefault();

        }
    });
</script>
@if (TempData.ContainsKey("Mensagem"))
{
    <script>

        alert('@Html.Raw(TempData["Mensagem"])');

    </script>
}
